.homePageContents {
  /* background-color: #545256; */
  margin: 0;
  padding: 0;
  background-color: #f9f3eb;

  /* padding-bottom: 10px; */
}

.homePageContents row {
  margin: 0;
}

.homeContents h2 {
  font-size: 52px;
  font-weight: bolder;
  text-transform: uppercase;
}

.homePageContents .justify-content-center {
  margin: 0;
}

.homeContents {
  /* margin: 0; */
  margin-top: 40px;
}

.homeContents h2 {
  color: #f95005;
}

.homeContents .introText {
  margin: 20px;
  text-align: center;
  color: black;
  font-size: 30px;
}

.homePageContents h2 {
  font-size: 50px;
  font-weight: bold;
  color: #f95005;
}

.homePageContents p {
  font-size: 20px;
  line-height: 30px;
  gap: 10px;
  text-align: justify;
}

/* SLIDER */

.context {
  text-align: center;
}

@media (max-width: 700px) {
  .homeContents .introText {
    margin: 20px;
    font-size: 20px;
  }

  .welcomeContents {
    padding: 30px 20px !important;
  }
}

.hero .hero-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
}

.hero .wave1 use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
  fill: #444444;
  opacity: 0.6;
}

.hero .wave2 use {
  animation: move-forever2 8s linear infinite;
  animation-delay: -2s;
  fill: #444444;
  opacity: 0.4;
}

.hero .wave3 use {
  animation: move-forever3 6s linear infinite;
  animation-delay: -2s;
  fill: #444444;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

.welcomePage {
  background-color: #ffffff;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomePage h3 {
  color: #f95005;
  font-weight: bolder;
  font-size: 52px;
  text-align: center;
}

.welcomeContents {
  gap: 10px;
  /* padding: 30px 170px; */
}

.welcomeContents p {
  text-align: justify !important;
}

.welcomeContents p span {
  color: #f95005;
  font-size: 23px;
  font-weight: 500;
}

.contents .yogaImages {
  display: flex;
  flex-direction: column;
  color: black;
}

/* whoWeAre - WHY CHOOSE US */
.whoWeAre .whoWeAreItems {
  color: color-mix(in srgb, #444444, transparent 20%);
}

.whoWeAre .whoWeAreItems + .whoWeAreItems {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .whoWeAre .whoWeAreItems + .whoWeAreItems {
    margin-top: 40px;
  }
}

.whoWeAre .whoWeAreItems h3 {
  font-weight: 700;
  font-size: 26px;
}

.whoWeAre .whoWeAreItems .btn-get-started {
  background-color: #f95005;
  color: #ffffff;
  padding: 8px 30px 10px 30px;
  border-radius: 4px;
}

.whoWeAre .whoWeAreItems .btn-get-started:hover {
  background-color: color-mix(in srgb, #f95005, transparent 10%);
}

.whoWeAre .whoWeAreItems ul {
  list-style: none;
  padding: 0;
}

.whoWeAre .whoWeAreItems ul li {
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.whoWeAre .whoWeAreItems ul li:last-child {
  padding-bottom: 0;
}

.whoWeAre .whoWeAreItems ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #f95005;
}

.whoWeAre .whoWeAreItems img {
  border: 6px solid #ffffff;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.whoWeAre .whoWeAreItems .imageStack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}

.whoWeAre .whoWeAreItems .imageStack .stackBack {
  grid-column: 4/-1;
  grid-row: 1;
  width: 100%;
  z-index: 1;
}

.whoWeAre .whoWeAreItems .imageStack .stackFront {
  grid-row: 1;
  grid-column: 1 / span 8;
  margin-top: 20%;
  width: 100%;
  z-index: 2;
}

.imageStack .stackFront {
  border: 10px solid white;
}

.whoWeAre {
  padding-bottom: 60px;
}

.whoWeAreItems {
  justify-content: space-around;
}

.knowMoreBtn {
  padding: 9px 25px;
  border: 2px solid #f95005;
  border-radius: 10px;
  color: #f95005;
  font-size: 20px;
}

.whoWeArePara {
  /* text-indent: 2rem; */
}

.whoWeAre .container .whoWeAreItems {
  justify-content: space-around;
}

.welcomeContents p {
  /* text-indent: 2rem; */
  text-align: center;
  line-height: 40px;
}

.welcomeQuote {
  text-align: center !important;
  padding-top: 10px;
}

.statis .image {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
}

.statis .image img {
  height: 60px;
  width: 60px;
  color: black;
  background-color: white;
}

.whoAreWe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats .row {
  justify-content: center;
}

.stats {
  padding: 80px 0px;
  background-color: #f95005;
  color: white;
}
.statis p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

.statis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
